<div id="page">
    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-5 hidden-xs">
                            <!-- Default Welcome Message -->
                            <div class="welcome-msg ">Welcome to ShowCase! </div>
                            <span class="phone hidden-sm">Call Us: +123.456.789</span> </div>

                        <!-- top links -->
                        <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
                            <div class="links">
                                <div class="myaccount"><a title="My Account" routerLink="/signup" target="_blank"><i class="fa fa-user"></i><span class="hidden-xs">Sign up as Creator</span></a></div>
                                <div class="login"><a routerLink="/login" target="_blank"><i class="fa fa-unlock-alt"></i><span class="hidden-xs">Log In</span></a></div>


                            </div>
                            <div class="language-currency-wrapper">
                                <div class="inner-cl">
                                    <div class="block block-language form-language">
                                        <div class="lg-cur"> <span> <img src="assets/images/flag-default.jpg" alt="French"> <span class="lg-fr">French</span> <i class="fa fa-angle-down"></i> </span>
                                        </div>
                                        <ul>
                                            <li>
                                                <a class="selected" href="#"> <img src="assets/images/flag-english.jpg" alt="flag"> <span>English</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-default.jpg" alt="flag"> <span>French</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-german.jpg" alt="flag"> <span>German</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block block-currency">
                                        <div class="item-cur"> <span>NGN </span> <i class="fa fa-angle-down"></i></div>
                                        <ul>
                                            <li> <a href="#"><span class="cur_icon">€</span> EUR</a> </li>
                                            <li> <a href="#"><span class="cur_icon">¥</span> JPY</a> </li>
                                            <li> <a href="#"><span class="cur_icon">N</span> NGN</a> </li>
                                            <li> <a class="selected" href="#"><span class="cur_icon">$</span> USD</a> </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-- End Default Welcome Message -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- end header -->
    <br><br><br><br> <br><br><br><br>
    <!-- category area start -->
    <div class="jtv-category-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="jtv-single-cat">
                        <h2 class="cat-title">SIGN UP</h2>
                        <div class="jtv-product">


                            <form class="text-center border p-5" #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
                                <!-- <p class="h4 mb-4"> </p> -->

                                <label for="businessName"></label>
                                <input type="text" class="form-control" name="businessName" ngModel="" placeholder="BusinessName" required />


                                <label for="Category"></label>
                                <input type="text" class="form-control" name="businessCategory" ngModel="" placeholder="Category" required/>
                                <label for="phoneNumber"></label>
                                <input type="text" class="form-control" name="phoneNumber" ngModel="" placeholder="phoneNumber" required/>
                                <label for="Email"></label>
                                <input type="Email" class="form-control" name="email" ngModel="" placeholder="Email" required/>


                                <label for="Password"></label>
                                <input type="Password" class="form-control" name="password" ngModel="" placeholder="Password" required/>

                                <label for="Bank"></label>
                                <input type="text" class="form-control" name="bank" ngModel="" placeholder="Bank" required/>

                                <label for="AccountNumber"></label>
                                <input type="text" class="form-control" name="accountNumber" ngModel="" placeholder="AccountNumber" required/>
                                <br>
                                <div class="col">
                                    <button type="submit" mat-raised-button mat-raised-button color="primary" class="btn btn-success">
                                     Sign up
                                    </button>
                                </div>
                                <p></p>
                                <p>Already on ShowCase?

                                    <a href="/login" target="_blank" style="color:purple">Login</a></p>


                            </form>
                        </div>
                    </div>
                </div>

                <!-- service area start -->
                <div class="col-md-4 col-sm-6">

                </div>
            </div>
        </div>
    </div>



</div>