<div id="mobile-menu">
    <ul>
        <li><a href="#" class="home1">Home</a>
            <ul>
                <li><a href="../#">Home Version 1</a></li>
                <li><a href="#">Home Version 2</a></li>
            </ul>
        </li>
        <li><a href="#">Pages</a>
            <ul>
                <li><a href="#" class="">Shop Pages </a>
                    <ul>
                        <li> <a href="#"> Shop grid </a> </li>
                        <li> <a href="#"> Shop grid right sidebar</a> </li>
                        <li> <a href="#"> Shop list </a> </li>
                        <li> <a href="#"> Shop list right sidebar</a> </li>
                        <li> <a href="#"> Shop Full width </a> </li>
                    </ul>
                </li>
                <li><a href="#">Ecommerce Pages </a>
                    <ul>
                        <li> <a href="#"> Wishlists </a> </li>
                        <li> <a href="#"> Checkout </a> </li>
                        <li> <a href="#"> Compare </a> </li>
                        <li> <a href="#"> Shopping cart </a> </li>
                        <li> <a href="#"> Quick View </a> </li>
                    </ul>
                </li>
                <li> <a href="#">Static Pages </a>
                    <ul>
                        <li> <a href="#"> Create Account Page </a> </li>
                        <li> <a href="#"> About Us </a> </li>
                        <li> <a href="#"> Contact us </a> </li>
                        <li> <a href="#"> Error 404 </a> </li>
                        <li> <a href="#"> FAQ </a> </li>
                    </ul>
                </li>
                <li> <a href="#">Product Categories </a>
                    <ul>
                        <li> <a href="#"> 3 Column Sidebar </a> </li>
                        <li> <a href="#"> 4 Column Sidebar</a> </li>
                        <li> <a href="#"> 4 Column Full width </a> </li>
                        <li> <a href="#"> 6 Columns Full width</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Single Product Pages </a>
                    <ul>
                        <li><a href="#l"> single product </a> </li>
                        <li> <a href="#"> single product left sidebar</a> </li>
                        <li> <a href="#"> single product right sidebar</a> </li>
                        <li> <a href="#"> single product magnify zoom</a> </li>
                    </ul>
                </li>
                <li> <a href="#"> Blog Pages </a>
                    <ul>
                        <li><a href="#">Blog – Right sidebar </a></li>
                        <li><a href="#">Blog – Left sidebar </a></li>
                        <li><a href="#">Blog_ - Full width</a></li>
                        <li><a href="#">Single post </a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a>
            <ul>
                <li><a href="#">Blog – Right sidebar </a></li>
                <li><a href="#">Blog – Left sidebar </a></li>
                <li><a href="#">Blog_ - Full width</a></li>
                <li><a href="#">Single post </a></li>
            </ul>
        </li>
        <li><a href="#">Vegetables</a>
            <ul>
                <li><a href="#" class="">Accessories</a>
                    <ul>
                        <li><a href="#">Cocktail</a></li>
                        <li><a href="#">Day</a></li>
                        <li><a href="#">Evening</a></li>
                        <li><a href="#">Sundresses</a></li>
                    </ul>
                </li>
                <li><a href="#">Dresses</a>
                    <ul>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Hats and Gloves</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Bras</a></li>
                    </ul>
                </li>
                <li> <a href="#">Shoes</a>
                    <ul>
                        <li> <a href="#">Flat Shoes</a> </li>
                        <li> <a href="#">Flat Sandals</a> </li>
                        <li> <a href="#">Boots</a> </li>
                        <li> <a href="#">Heels</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Jwellery</a>
                    <ul>
                        <li> <a href="#">Bracelets</a> </li>
                        <li> <a href="#">Necklaces &amp; Pendent</a> </li>
                        <li> <a href="#">Pendants</a> </li>
                        <li> <a href="#">Pins &amp; Brooches</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Dresses</a>
                    <ul>
                        <li> <a href="#">Casual Dresses</a> </li>
                        <li> <a href="#">Evening</a> </li>
                        <li> <a href="#">Designer</a> </li>
                        <li> <a href="#">Party</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Swimwear</a>
                    <ul>
                        <li> <a href="#">Swimsuits</a> </li>
                        <li> <a href="#">Beach Clothing</a> </li>
                        <li> <a href="#">Clothing</a> </li>
                        <li> <a href="#">Bikinis</a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Fruits</a>
            <ul>
                <li> <a href="#" class="">Clothing</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"> <a href="#">Coats &amp; Jackets</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Raincoats</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Blazers</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Jackets</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Dresses</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"> <a href="#">Casual Dresses</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Evening</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Designer</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Party</a> </li>
                    </ul>
                </li>
                <li> <a href="#" class="">Shoes</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"> <a href="#">Sport Shoes</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Casual Shoes</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Leather Shoes</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">canvas shoes</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Jackets</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"> <a href="#">Coats</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Formal Jackets</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Leather Jackets</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Blazers</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Accesories</a>
                    <ul class="level1">
                        <li class="level2 nav-6-1-1"> <a href="#">Backpacks</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Wallets</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Laptops Bags</a> </li>
                        <li class="level2 nav-6-1-1"> <a href="#">Belts</a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Special Gift</a>
            <ul>
                <li> <a href="#">Mobiles</a>
                    <ul>
                        <li> <a href="#">iPhone</a> </li>
                        <li> <a href="#">Samsung</a> </li>
                        <li> <a href="#">Nokia</a> </li>
                        <li> <a href="#">Sony</a> </li>
                    </ul>
                </li>
                <li> <a href="#" class="">Music &amp; Audio</a>
                    <ul>
                        <li> <a href="#">Audio</a> </li>
                        <li> <a href="#">Cameras</a> </li>
                        <li> <a href="#">Appling</a> </li>
                        <li> <a href="#">Car Music</a> </li>
                    </ul>
                </li>
                <li> <a href="#">Accessories</a>
                    <ul>
                        <li> <a href="#">Home &amp; Office</a> </li>
                        <li> <a href="#">TV &amp; Home Theater</a> </li>
                        <li> <a href="#">Phones &amp; Radio</a> </li>
                        <li> <a href="#">All Electronics</a> </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- end mobile menu -->
<div id="page">

    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-5 hidden-xs">
                            <!-- Default Welcome Message -->
                            <div class="welcome-msg ">Welcome to ShowCase! </div>
                            <span class="phone hidden-sm">Call Us: +123.456.789</span> </div>

                        <!-- top links -->
                        <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
                            <div class="links">
                                <div class="myaccount"><a title="My Account" routerLink="/signup" target="_blank"><i class="fa fa-user"></i><span class="hidden-xs">Sign up as Creator</span></a></div>
                                <div class="login"><a routerLink="/login" target="_blank"><i class="fa fa-unlock-alt"></i><span class="hidden-xs">Log In</span></a></div>


                            </div>
                            <div class="language-currency-wrapper">
                                <div class="inner-cl">
                                    <div class="block block-language form-language">
                                        <div class="lg-cur"> <span> <img src="assets/images/flag-default.jpg" alt="French"> <span class="lg-fr">French</span> <i class="fa fa-angle-down"></i> </span>
                                        </div>
                                        <ul>
                                            <li>
                                                <a class="selected" href="#"> <img src="assets/images/flag-english.jpg" alt="flag"> <span>English</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-default.jpg" alt="flag"> <span>French</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-german.jpg" alt="flag"> <span>German</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-brazil.jpg" alt="flag"> <span>Brazil</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-chile.jpg" alt="flag"> <span>Chile</span> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <img src="assets/images/flag-spain.jpg" alt="flag"> <span>Spain</span> </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="block block-currency">
                                        <div class="item-cur"> <span>NGN </span> <i class="fa fa-angle-down"></i></div>
                                        <ul>
                                            <li> <a href="#"><span class="cur_icon">€</span> EUR</a> </li>
                                            <li> <a href="#"><span class="cur_icon">¥</span> JPY</a> </li>
                                            <li> <a href="#"><span class="cur_icon">N</span> NGN</a> </li>
                                            <li> <a class="selected" href="#"><span class="cur_icon">$</span> USD</a> </li>

                                        </ul>
                                    </div>
                                </div>

                                <!-- End Default Welcome Message -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-xs-12">
                        <!-- Header Logo -->
                        <div class="logo">
                            <a title="e-commerce" href="#"><img alt="e-commerce" src="assets/images/logo.png"></a>
                        </div>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-xs-9 col-sm-6 col-md-7">
                        <!-- Search -->

                        <div class="top-search">
                            <div id="search">
                                <form>
                                    <div class="input-group">
                                        <select class="cate-dropdown hidden-xs" name="category_id">
                  <option>All Categories</option>
                  <option>Art Work</option>
                  <option>  Poem and Inspirational Quotes </option>
                  <option>   Beads</option>
                  <option>   Music Beats</option>
                </select>
                                        <input type="text" class="form-control" placeholder="Search" name="search">
                                        <button class="btn-search" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- End Search -->
                    </div>
                    <!-- top cart -->

                    <div class="col-lg-2 col-xs-3 top-cart">
                        <div class="top-cart-contain">
                            <div class="mini-cart">
                                <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
                                    <a href="#">
                                        <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                                        <div class="shoppingcart-inner hidden-xs"><span class="cart-title">Cart</span> <span class="cart-total">4 Item(s)</span></div>
                                    </a>
                                </div>
                                <div>
                                    <div class="top-cart-content">
                                        <div class="block-subtitle hidden-xs">Recently added item(s)</div>
                                        <ul id="cart-sidebar" class="mini-products-list">
                                            <li class="item odd">
                                                <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/bead.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Lorem ipsum dolor sit amet Consectetur</a> </p>
                                                    <strong>1</strong> x <span class="price">$20.00</span> </div>
                                            </li>
                                            <li class="item even">
                                                <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/bead.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Consectetur utes anet adipisicing elit</a> </p>
                                                    <strong>1</strong> x <span class="price">$230.00</span> </div>
                                            </li>
                                            <li class="item last odd">
                                                <a href="#" title="Ipsums Dolors Untra" class="product-image"><img src="assets/images/products/afroart.jpg" alt="Lorem ipsum dolor" width="65"></a>
                                                <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
                                                    <p class="product-name"><a href="#">Sed do eiusmod tempor incidist</a> </p>
                                                    <strong>2</strong> x <span class="price">$420.00</span> </div>
                                            </li>
                                        </ul>
                                        <div class="top-subtotal">Subtotal: <span class="price">$520.00</span></div>
                                        <div class="actions">
                                            <button class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Checkout</span></button>
                                            <button class="view-cart" type="button"><i class="fa fa-shopping-cart"></i> <span>View Cart</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->




    <!-- Latest news start -->


    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="jtv-banner1">
                        <a href="#"><img src="assets/images/slider/slider-image2.jpg" alt=""></a>
                        <div class="hover_content">
                            <div class="hover_data">
                                <div class="title"> Sales price </div>
                                <div class="desc-text"> offer </div>
                                <form #paymentForm="ngForm" (ngSubmit)="onSubmit(paymentForm)">
                                    <div class="desc-text"> Price: =N= 50,000</div>
                                    <input type="hidden" class="form-control" name="name" ngModel="African prints" placeholder="name" />
                                    <label for="email">Enter the email where you want to receive your receipt</label>
                                    <input type="text" class="form-control" name="email" ngModel="" placeholder="email" />
                                    <input type="hidden" class="form-control" name="amount" ngModel="500000" placeholder="amount" />
                                    <input type="hidden" class="form-control" name="subaccount" ngModel="ACCT_vmbyum57o5bdy4d" placeholder="subaccount" />
                                    <div class="shop-now">
                                        <!-- <a href="#">Pay once</a> -->
                                        <button type="submit" mat-raised-button mat-raised-button color="primary" class="btn btn-success">
                                        Pay once
                                        </button>
                                    </div>
                                    <div class="shop-now"><a routerLink="/recurringpay">Recurring payment</a></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>